.vertical {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 0px;
}

.title {
    text-align: left;
    padding-left: 2rem;
}

.row-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0%;
}

.height-5 {
    height: 5%;
    background: rgb(222, 222, 222);
}

.height-100 {
    height: 100%;
    background: rgb(47, 139, 87);
}

.task-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 10%;
    max-height: 100%;
    max-width: 95%;
    padding-bottom: 1%;
    border-radius: 10px;
    margin: 2%;
    background: white;
    margin-bottom: 10%;
}

.heading {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

.task-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 98%;
    background: rgb(190, 190, 190);
    border-radius: 10px;
    margin: 1% 1% 1% 1%;
}

.task-labels {
    border-radius: 5px;
    background-color: rgb(174, 48, 48);
    color: white;
}

.task-title {
    font-weight: bold;
    color: white;
}

.task-header {
    background-color: rgb(38, 80, 143);
    display: flex;
    padding: 1%;
    flex-direction: row;
    width: 95%;
    justify-content: space-around;
    border-radius: 5px;
}

.task-footer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: gray;
    border-radius: 10px;
}

.delete {
    border-radius: 10px;
    background-color: red;
}

.whole {
    width: 100%;
    height: 100%;
}

.accent-bg {
    background-color: #0E1C36;
  }
  
  .mid-bg {
    background-color: #247BA0;
  }
  
  .highlight-bg {
    background-color: white;
  }
  
  .accent-txt{
    color: #0E1C36;
  }
  
  .mid-txt {
    color: #247BA0;
  }

  .highlight-txt{
    color: white;
  }
  
  .bold {
    font-weight: 500;
  }
  
  .reg {
    font-weight: 400;
  }