nav {
    display: flex;
    flex-direction: row;
    background-color: red;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.linkActive {
    flex: 1 1 auto;
    text-align: center;
    color: white;
}

.linkInactive {
    flex: 1 1 auto;
    text-align: center;
    color: blue;
}